{%- assign product_share_url = shop.url | append: product.url -%}
{%- assign product_share_label = 'products.product.share' | t -%}

<div class="ap-productmeta__aside">
  <div class="ap-productmeta__share text--subdued">
    {% render 'page-share', share_url: product_share_url, share_title: product.title, share_label: product_share_label, share_class: 'page-share--product' %}
  </div>

  <button is="toggle-button" class="ap-productmeta__help link text--subdued hidden-phone d-none" ap-controlsaria="product-{{ section.id }}-help-drawer" ap-expanded-aria="false">Need help?</button>
</div>

<ap-drawercontent id="product-{{ section.id }}-help-drawer" class="drawer drawer--large hidden-phone">
  <span class="drawer__overlay"></span>
  <header class="drawer__header">
    <p class="drawer__title heading h6">Help</p>

    <button type="button" class="drawer__close-button tap-area" data-action="close" title="Close"><svg focusable="false" width="14" height="14" class="icon icon--close   " viewBox="0 0 14 14">
      <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
    </svg>
  </button>
  </header>

<div class="drawer__content drawer__content--padded-start">
  <div class="rte">
    <p>If you have any questions, you are always welcome to contact us. We'll get back to you as soon as possible, withing 24 hours on weekdays.</p>
    <h6>Customer service</h6>
    <p>All questions about your order, return and delivery must be sent to our customer service team by e-mail at <a href="mailto:yourstore@yourdomain.com">yourstore@yourdomain.com</a></p>
    <h6>Sale &amp; Press</h6>
    <p>If you are interested in selling our products, need more information about our brand or wish to make a collaboration, please contact us at <a href="mailto:press@yourdomain.com">press@yourdomain.com</a></p></div>
</div>
</ap-drawercontent>
<apollopop-content id="product-{{ section.id }}-help-popover" class="popover hidden-lap-and-up" hidden="">
  <span class="popover__overlay"></span>

  <header class="popover__header">
    <p class="popover__title heading h6">Help</p>
    <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="Close"><svg focusable="false" width="14" height="14" class="icon icon--close   " viewBox="0 0 14 14">
        <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
      </svg>
    </button>
  </header>

  <div class="popover__content">
    <div class="rte"><p>If you have any questions, you are always welcome to contact us. We'll get back to you as soon as possible, withing 24 hours on weekdays.</p>
      <h6>Customer service</h6>
      <p>All questions about your order, return and delivery must be sent to our customer service team by e-mail at <a href="mailto:yourstore@yourdomain.com">yourstore@yourdomain.com</a></p>
      <h6>Sale &amp; Press</h6>
      <p>If you are interested in selling our products, need more information about our brand or wish to make a collaboration, please contact us at <a href="mailto:press@yourdomain.com">press@yourdomain.com</a></p></div>
  </div>
</apollopop-content>
