<span class="ap-productmeta__sku text--subdued text--xxsmall" data-product-sku-container="">
    <span class="productinfo_title">
        SKU: 
    </span>
    <span class="ap-productmeta__sku-number" data-product-sku-number="">{{ product.selected_or_first_available_variant.sku }}</span>
</span>