{% for childlink in link.links %}
  <li class="site-nav__dropdown-container site-nav__dropdown-container--second-level">
    {% assign childlink_url = childlink.url %}
    {% if childlink.links != blank %}
    <a href="{{ childlink_url }}" class="link-menu meganav__link meganav__link-toggle site-nav__link-toggle meganav__link--has-list{% if childlink.active %} meganav__link--active{% endif %}" {% if childlink.active %} aria-current="page"{% endif %}>
        {% render 'processMenuTitle' , itemName: childlink.title %}
        {% render 'processMenuLabel' , itemName: childlink.title %}
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.1717 12.0005L9.34326 9.17203L10.7575 7.75781L15.0001 12.0005L10.7575 16.2431L9.34326 14.8289L12.1717 12.0005Z" fill="currentColor"/>
</svg>

    </a>
    <div class="site-nav__dropdown--third-level">
      <ul class="meganav__list">
        {% for grandchildlink in childlink.links %}
        <li class="site-nav__dropdown-container site-nav__dropdown-container--third-level">
          <a href="{{ grandchildlink.url }}" class="link-menu meganav__link {% if grandchildlink.active %} meganav__link--active{% endif %}"{% if grandchildlink.active %} aria-current="page"{% endif %}>
            {% render 'processMenuTitle' , itemName: grandchildlink.title %}
            {% render 'processMenuLabel' , itemName: grandchildlink.title %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <a href="{{ childlink_url }}" class="link-menu meganav__link {% if childlink.active %} meganav__link--active{% endif %}"{% if childlink.active %} aria-current="page"{% endif %}>
      {% render 'processMenuTitle' , itemName: childlink.title %}
      {% render 'processMenuLabel' , itemName: childlink.title %}
    </a>
    {% endif %}
  </li>
{% endfor %}
