<ap-drawercontent id="product-{{ section.id }}-{{ product.id }}-size-chart-drawer" class="drawer drawer--large hd-phone">
    <span class="drawer__overlay"></span>
    <header class="drawer__header">
      <p class="drawer__title heading h6">Size Chart (Kids)</p>
      <button type="button" class="drawer__close-button tap-area" data-action="close" title="Close"><svg focusable="false" width="14" height="14" class="icon icon--close   " viewBox="0 0 14 14">
        <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
      </svg></button>
    </header>

    <div class="drawer__content drawer__content--padded-start">
      <div class="rte">
        <h5>TOPS + T-Shirt</h5>
        <div class="table-wrapper">
          <table>
            <tbody>
              <tr>
                <td>Size</td>
                <td>Bust</td>
                <td>Waist</td>
                <td>Hips</td>
                <td>US/CAN</td>
              </tr>
              <tr>
                <td>XS</td>
                <td>32-33</td>
                <td>24-25</td>
                <td>35-36</td>
                <td>0/1</td>
              </tr>
              <tr>
                <td>S</td>
                <td>34-35</td>
                <td>26-27</td>
                <td>37-38</td>
                <td>3/5</td>
              </tr>
              <tr>
                <td>M</td>
                <td>36-37</td>
                <td>28-29</td>
                <td>39-40</td>
                <td>7/9</td>
              </tr>
              <tr>
                <td>L</td>
                <td>38.5-40</td>
                <td>30.5-32</td>
                <td>41.5-43</td>
                <td>11/13</td>
              </tr>
              <tr>
                <td>XL</td>
                <td>41 1/2</td>
                <td>33 1/2</td>
                <td>44 1/2</td>
                <td>15</td>
              </tr>
              <tr>
                <td>1X</td>
                <td>44-45.5</td>
                <td>37-38.5</td>
                <td>47-48.5</td>
                <td>14/16</td>
              </tr>
              <tr>
                <td>2X</td>
                <td>47-49</td>
                <td>40-42</td>
                <td>50-52</td>
                <td>18/20</td>
              </tr>
              <tr>
                <td>3X</td>
                <td>51-53</td>
                <td>44-46</td>
                <td>54-56</td>
                <td>22/24</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <h5>Pants / Shorts / Skirts</h5>
        <div class="table-wrapper">
          <table>
            <tbody>
              <tr>
                <th style="width: 111.016px;"><strong>Size EU</strong></th>
                <th style="width: 113.984px;"><strong>Size UK</strong></th>
                <th style="width: 94px;"><strong>Waist</strong></th>
                <th style="width: 96px;"><strong>Hip</strong></th>
              </tr>
              <tr>
                <td style="width: 111.016px;">XS / 34</td>
                <td style="width: 113.984px;">6</td>
                <td style="width: 94px;">78-82</td>
                <td style="width: 96px;">87-91</td>
              </tr>
              <tr>
                <td style="width: 111.016px;">S / 36</td>
                <td style="width: 113.984px;">8</td>
                <td style="width: 94px;">82-86</td>
                <td style="width: 96px;">91-95</td>
              </tr>
              <tr>
                <td style="width: 111.016px;">M / 38</td>
                <td style="width: 113.984px;">10</td>
                <td style="width: 94px;">86-90</td>
                <td style="width: 96px;">95-99</td>
              </tr>
              <tr>
                <td style="width: 111.016px;">L / 40</td>
                <td style="width: 113.984px;">12</td>
                <td style="width: 94px;">90-94</td>
                <td style="width: 96px;">99-103</td>
              </tr>
              <tr>
                <td style="width: 111.016px;">XL / 42</td>
                <td style="width: 113.984px;">14</td>
                <td style="width: 94px;">90-98</td>
                <td style="width: 96px;">103-107</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ap-drawercontent>
  <apollopop-content id="product-{{ section.id }}-{{ product.id }}-size-chart-popover" class="popover hd-lap-and-up">
    <span class="popover__overlay"></span>

    <header class="popover__header">
      <p class="popover__title heading h6">Size Chart (Kids)</p>

      <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="Close"><svg focusable="false" width="14" height="14" class="icon icon--close   " viewBox="0 0 14 14">
        <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
      </svg></button>
    </header>

    <div class="popover__content">
      <div class="rte">
        <h5>Tops</h5>
        <div class="table-wrapper">
          <table>
            <tbody>
              <tr>
                <th><strong>Size EU</strong></th>
                <th><strong>Size UK</strong></th>
                <th><strong>Chest</strong></th>
                <th><strong>Waist</strong></th>
                <th><strong>Hip</strong></th>
              </tr>
              <tr>
                <td>XS / 34</td>
                <td>6</td>
                <td>78-82</td>
                <td>60-64</td>
                <td>87-91</td>
              </tr>
                <tr>
                <td>S / 36</td>
                <td>8</td>
                <td>82-86</td>
                <td>64-68</td>
                <td>91-95</td>
              </tr>
              <tr>
                <td>M / 38</td>
                <td>10</td>
                <td>86-90</td>
                <td>68-72</td>
                <td>95-99</td>
              </tr>
              <tr>
                <td>L / 40</td>
                <td>12</td>
                <td>90-94</td>
                <td>72-76</td>
                <td>99-103</td>
              </tr>
              <tr>
                <td>XL / 42</td>
                <td>14</td>
                <td>90-98</td>
                <td>76-80</td>
                <td>103-107</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <h5>Pants / Shorts / Skirts</h5>
        <div class="table-wrapper">
          <table>
            <tbody>
              <tr>
                <th style="width: 111.016px;"><strong>Size EU</strong></th>
                <th style="width: 113.984px;"><strong>Size UK</strong></th>
                <th style="width: 94px;"><strong>Waist</strong></th>
                <th style="width: 96px;"><strong>Hip</strong></th>
              </tr>
              <tr>
                <td style="width: 111.016px;">XS / 34</td>
                <td style="width: 113.984px;">6</td>
                <td style="width: 94px;">78-82</td>
                <td style="width: 96px;">87-91</td>
              </tr>
              <tr>
                <td style="width: 111.016px;">S / 36</td>
                <td style="width: 113.984px;">8</td>
                <td style="width: 94px;">82-86</td>
                <td style="width: 96px;">91-95</td>
              </tr>
              <tr>
                <td style="width: 111.016px;">M / 38</td>
                <td style="width: 113.984px;">10</td>
                <td style="width: 94px;">86-90</td>
                <td style="width: 96px;">95-99</td>
              </tr>
              <tr>
                <td style="width: 111.016px;">L / 40</td>
                <td style="width: 113.984px;">12</td>
                <td style="width: 94px;">90-94</td>
                <td style="width: 96px;">99-103</td>
              </tr>
              <tr>
                <td style="width: 111.016px;">XL / 42</td>
                <td style="width: 113.984px;">14</td>
                <td style="width: 94px;">90-98</td>
                <td style="width: 96px;">103-107</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</apollopop-content>