<style type="text/css">
  .template-404.center {
    text-align: center;
    padding: 60px 20px 80px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .template-404__code {
    margin: 0 0 24px;
    font-size: clamp(72px, 10vw, 120px);
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: rgb(var(--heading-color));
  }

  .template-404 .title {
    margin: 0 auto 32px;
    max-width: 640px;
    font-size: clamp(15px, 1.6vw, 18px);
    line-height: 1.6;
    font-weight: 400;
    color: rgba(var(--color-body), 0.75);
  }

  .template-404 .button {
    display: inline-block;
    width: auto;
    min-width: 180px;
  }

  @media screen and (max-width: 749px) {
    .template-404.center {
      min-height: 42vh;
      padding: 40px 16px 60px;
    }

    .template-404__code {
      margin-bottom: 20px;
    }

    .template-404 .title {
      margin-bottom: 28px;
    }

  }
</style>

<div class="template-404 page-width page-margin center">
  <p class="template-404__code">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.description' | t }}
  </h1>
  <a href="{{ routes.root_url }}" class="button button--primary">
    {{ 'templates.404.button' | t }}
  </a>
</div>   
