.text-list-content {
  max-width: 550px;
}

.text-list-title {
  margin-bottom: 20px;
}

.text-list-description {
  margin-bottom: 30px;
}

.adv-content-button {
  gap: 20px;
}

/* images scroll block */

.adv__image--scroll {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to bottom, transparent, #000 5% 95%, transparent);
}

.adv__image--list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 0;
  min-height: calc(calc(400px * 5) + calc(30px * 5));
  width: 100%;
  position: relative;
  top: 0;
  animation: autoRun 20s linear infinite;
}

.adv__image--list .adv__image--item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

@keyframes autoRun {
  from {
    top: 0;
  }
  to {
    top: calc(calc(-5 * 400px) + calc(-5 * 30px));
  }
}

.adv__image--scroll:hover .adv__image--list {
  animation-play-state: paused !important;
}
.adv__image--scroll:hover .adv__image--list .adv__image--item {
  filter: blur(2px);
}
.adv__image--list .adv__image--item:hover {
  filter: blur(0) !important;
}

.adv__image--list[reverse="true"] {
  animation: reversePlay 20s linear infinite;
}
@keyframes reversePlay {
  from {
    top: calc(calc(-5 * 400px) + calc(-5 * 30px));
  }
  to {
    top: 0;
  }
}

@media (max-width: 1199px) {
  .adv__image--list {
    gap: 20px;
    min-height: calc(calc(400px * 5) + calc(20px * 5));
  }
  @keyframes autoRun {
    from {
      top: 0;
    }
    to {
      top: calc(calc(-5 * 400px) + calc(-5 * 20px));
    }
  }
  @keyframes reversePlay {
    from {
      top: calc(calc(-5 * 400px) + calc(-5 * 20px));
    }
    to {
      top: 0;
    }
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .adv__image--list {
    gap: 20px;
    min-height: calc(calc(300px * 5) + calc(20px * 5));
  }
  .adv__image--list .adv__image--item img {
    height: 300px;
  }
  @keyframes autoRun {
    from {
      top: 0;
    }
    to {
      top: calc(calc(-5 * 300px) + calc(-5 * 20px));
    }
  }
  @keyframes reversePlay {
    from {
      top: calc(calc(-5 * 300px) + calc(-5 * 20px));
    }
    to {
      top: 0;
    }
  }
}

@media (max-width: 480px) {
  .adv__image--list {
    min-height: calc(calc(300px * 5) + calc(20px * 5));
  }
  .adv__image--list .adv__image--item img {
    height: 300px;
  }
  @keyframes autoRun {
    from {
      top: 0;
    }
    to {
      top: calc(calc(-5 * 300px) + calc(-5 * 20px));
    }
  }
  @keyframes reversePlay {
    from {
      top: calc(calc(-5 * 300px) + calc(-5 * 20px));
    }
    to {
      top: 0;
    }
  }
}

/* end images scroll block */




/* custom */

.hero__banner {
  height: 820px;
  display: flex;
  align-items: center;
}

@media (max-width: 1199px) {
  .hero__banner {
    height: 650px;
  }
  .adv__search  {
    margin-top: -50px;
  }
}

@media (max-width: 767px) {
  .hero__banner {
    height: 500px;
  }
  .adv__search  {
    margin-top: 0;
  }
}
