.ap-logolist__item {
  padding: 0 15px;
  text-align: center;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.section.section-logo {
  margin: 0;
  overflow: hidden;
}

.section-logo .section__header {
  justify-content: center;
}

.hover-logo-img img {
  transform: scale(0.9);
  opacity: .4;
}

.hover-logo-img img:hover {
  transform: scale(1);
  opacity: 1;
}

.ap-logolist__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}