.ap-contentcollapsible {
  position: relative;
  z-index: 1;
}

.collapsible-section-layout {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

@media screen and (min-width: 750px) {
  .collapsible-section-layout {
    padding-bottom: 7rem;
    padding-top: 7rem;
  }
}

.ap-contentcollapsible__media--small {
  height: 19.4rem;
}

.ap-contentcollapsible__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .ap-contentcollapsible__media--small {
    height: 31.4rem;
  }

  .ap-contentcollapsible__media--large {
    height: 69.5rem;
  }
}

@media screen and (min-width: 750px) {
  .ap-contentcollapsible__grid--reverse {
    flex-direction: row-reverse;
  }
}

.ap-contentcollapsible-wrapper-narrow {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 60.2rem;
}

.ap-contentcollapsible__header {
  word-break: break-word;
}

.ap-contentcollapsible__heading {
  margin-bottom: 2rem;
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .ap-contentcollapsible__heading {
    margin-bottom: 3rem;
  }
}

.collapsible-none-layout .accordion + .accordion {
  border-top: 0;
}

.collapsible-row-layout .accordion:not(:first-child):not(.color-background-1) {
  margin-top: 1rem;
}

.caption-with-letter-spacing + h2 {
  margin-top: 1.3rem;
}

@media screen and (min-width: 750px) {
  .ap-contentcollapsible .accordion {
    margin-top: 0;
  }
}

.collapsible-row-layout .accordion {
  border: var(--text-boxes-border-width) solid
    rgba(var(--color-foreground), var(--text-boxes-border-opacity));
  margin-bottom: 1.5rem;
}

.collapsible-row-layout .accordion summary,
.collapsible-row-layout .accordion .accordion__content {
  padding: 1.5rem;
}

.collapsible-row-layout .accordion .accordion__content {
  padding-top: 0;
}

.ap-contentcollapsible summary:hover {
  background: rgba(var(--color-foreground), 0.04);
}

.ap-contentcollapsible summary:hover .accordion__title {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.ap-contentcollapsible__header {
  margin-bottom: 56px;
}

.grid__item .accordion summary {
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.accordion__title-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .ap-contentcollapsible__grid:not(.ap-contentcollapsible__grid--reverse) .grid__item:last-child,
    .ap-contentcollapsible__grid--reverse .ap-contentcollapsible__grid-item {
      padding-left: 5rem;
      padding-right: 0;
    }
  }

  @media screen and (min-width: 990px) {
    .ap-contentcollapsible__grid:not(.ap-contentcollapsible__grid--reverse) .grid__item:last-child,
    .ap-contentcollapsible__grid--reverse .ap-contentcollapsible__grid-item {
      padding-left: 7rem;
    }
  }
}
