/* General */
.article-item:not(.article-item--horizontal) {
  flex-direction: column;
  border: 0px solid rgb(var(--border-color));
  border-radius: 0;
}

@media (max-width: 575px) {
  .article-item {
    flex-direction: column;
  }
}


@media (min-width: 576px) {
.article-item--horizontal .article-card__image {
  width: 300px;
  max-width: 50%;
  min-width: 40%;
}

.article-item--horizontal .article-item__content {
  flex: 1;
}

.article-item--horizontal .article-card__image img {
  height: 100%;
  object-fit: cover;
}




}

.article-item--horizontal .article-item__detail {
  padding: 0;
}

.article-item__content {
  padding: 0;
  border-radius: 0;
  text-align: left;
  transition: all 0.3s ease;
}
.article-card__image {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.article-item__content.text-container .h6 {
  margin: 0 0 10px;
  text-transform: none;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px 20px;
  justify-content: start;
  margin-bottom: 14px;
  transition: all 0.4s;
}
.blog-author,
.blog-date {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #999;
}

.author {
  color: #000;
}

.blog-tag {
  position: absolute;
  top: 20px;
  left: 20px;
}

.blog-tag .article-item__category {
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  background-color: var(--primary-2);
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  border-radius: 20px;
  transition: 0.3s all ease;
}

.blog-tag .article-item__category::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 6px;
}

.blog-tag .article-item__category:hover {
  background-color: var(--primary);
  color: #1a1a1a;
}

.blog-author {
  position: relative;
}
.article-item__image-container {
  margin: 0;
  border-radius: 18px;
}
.ap-blogcarousel .ap-productlist__inner--scroller {
  justify-content: safe center;
}

@media (min-width: 992px) {
  .ap-listarticle--collage {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ARTICLE RIGHT */
.article-right .article-item__image-container {
  width: 122px;
  height: 84px;
  border-radius: 20px;
}
.article-right .article-item {
  border: none;
  border-radius: 0;
}
.article-right {
  border: 1px solid rgb(var(--border-color));
  border-radius: 20px;
}
.article-right .article-item__content {
  flex: 1;
}
.article-item__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 14px;
}

.article-item__detail {
  padding: 20px 0 0;
}

.article-item-description {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

.btn__readmore {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: var(--btn-color);
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn__readmore .icon-button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--btn-bg);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease;
}

.btn__readmore:hover {
  color: var(--btn-color-hover);
}

.no-swiper .article-card__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blog-wrapper.no-swiper,
.no-swiper .blog-item,
.no-swiper .article-item,
.no-swiper .article-card__image {
  height: 100%;
}

.no-swiper .article-item {
  position: relative;
}

.no-swiper .article-card__image::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%)
}