.team-item {
    background-color: var(--bg-color);
    border-radius: var(--item-rounded);
}

.team-img img {
    border-radius: var(--item-rounded);
}

.team-img {
    position: relative;
}

.team-social {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: 0.3s all ease;
}

.team-item:hover .team-social {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.team-item .social-media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
    padding: 14px 30px;
    border-radius: 24px;
    background-color: var(--primary);
}

.team-item .social-media a {
    color: #fff;
}

.team-item .social-media a:hover {
    color: var(--primary-2);
}

.team-detail {
    padding: 24px 30px 30px;
}

.team-name {
    margin-bottom: 6px;
}

.team-job {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}


/* team-work.liquid */

.col-person {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    height: 100%;
}

.person__avatar {
    max-width: 50%;
    width: 300px;
}

.person__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.person__info {
    flex: 1;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.person__name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #000;
    margin-bottom: 6px;
}

.person__job {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #999999;
    margin-bottom: 44px;
}

.person__des {
    font-size: 16px;
    line-height: 26px;
    color: #555;
    margin-bottom: 24px;
}



.peron__btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.peron__btn .icon-button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--primary);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease;
}

.peron__btn:hover {
  color: var(--primary);
}


.peron__btn:hover .icon-button {
    background-color: var(--primary-2);
}

@media (max-width: 1024px) and (min-width: 768px) {
    .person__avatar {
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width: 480px)  {
    .person__avatar {
        max-width: 100%;
        width: 100%;
    }
}