.slider.is-grabbable {
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
}
.slider {
  --scrollbar-border-width: 11px;
  padding-bottom: 60px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: rgb(42 43 42, 60 60 60) transparent;
  scroll-behavior: smooth;
}
.slider::-webkit-scrollbar {
  height: 8px;
}
.slider > .container {
  padding: 0;
}
.grid-flow-col {
  grid-auto-flow: column;
  margin: 0;
  z-index: 1;
  position: relative;
}
.grid {
  display: grid;
}
.carousel[inactive] .slider::-webkit-scrollbar-thumb,
.carousel[inactive] .slider::-webkit-scrollbar-track {
  display: none;
}
.carousel .small__grid .slider__item:not(:last-child) .card--product-contained {
  border-inline-end: 0;
}
.slider__item {
  scroll-snap-align: start;
}
.slider::-webkit-scrollbar {
  background-color: var(--color-accent-4);
}
.slider::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--color-accent-1);
}
.slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f6f6f6;
}
.slider:not(.slider--contained) .slider__item:last-child {
  border-inline-end: 20px solid transparent;
}
.slider {
  scroll-padding-left: 20px;
}
[dir="rtl"] .slider {
  scroll-padding-right: 20px;
  scroll-padding-left: 0;
}
.slider:not(.slider--contained) .slider__item:last-child {
  border-inline-end: 20px solid transparent;
}
.slider::-webkit-scrollbar-track {
  margin: 0;
}
/* END BASE */