.video-popup-section {
    text-align: center;
    position: relative;
    z-index: 9;
  }
  
  .video-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
  }
  
  .video-overlay img {
      min-height: 400px;
      object-fit: cover;
  }
  
  .cover-image {
    width: 100%;
    height: auto;
  }

  .video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
  }
  
  .play-button {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-primary);
    color: #fff;
  }
  
  .play-button::before {
      content: '';
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid rgba(255,255,255,0.5);
  }
  
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lightbox-content {
    position: relative;
    width: 80%;
    max-width: 800px;
  }
  
  .lightbox-content iframe {
    width: 100%;
    height: 450px;
  }
  
  .lightbox .close {
    position: absolute;
    top: -50px;
    right: 0;
    color: white;
    font-size: 2em;
    cursor: pointer;
  }

  .video_heading {
    margin-top: 42px;
    font-size: 46px;
    line-height: 54px;
    font-weight: 700;
  }

  @media (max-width: 1199px) {
    .video_heading {
      font-size: 36px;
      line-height: 44px;
    }
  }
  @media (max-width: 767px) {
    .video_heading {
      font-size: 30px;
      line-height: 36px;
    }
  }

.video-popup-section .btn_play {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--bg-color);
    color: var(--color);
    cursor: pointer;
    position: relative;
}

.video-popup-section .btn_play svg {
    fill: var(--color);
    animation: spin 20s linear infinite;
}


.video-popup-section .btn_play svg text {
    font-size: 8px;
    letter-spacing: 4.5px;
    word-spacing: 3px;
}

.video-popup-section .btn_play .icon_play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
